{% extends "launch/base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="span12 subscribe">
<h1> Looks like you already registered with us! </h1>
<p>Hey! Looks like you already registered with us! But you can always
  help us out by sharing us on Facebook and Twitter! </p>
<div class="fb-share-button"
     data-href="https://www.facebook.com/50thingspage"
     data-type="button_count"></div>
&nbsp; &nbsp;
<a href="https://twitter.com/intent/tweet?button_hashtag=50things&text=I%20just%20signed%20up%20for%20reinventing%20my%20travel!" class="twitter-hashtag-button" data-related="do50things" data-url="http://www.50things.in/launch/">Tweet #50things</a>
</div>
</div>
</div>
{% endblock %}
